/* File: css/login.css */
.logo {
    max-width: 50px;
}

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/logo.jpg') no-repeat center center;
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
h3 {
    display: flex;
    justify-content: center;
}
.screen-1, .screen-2 {
    background: rgba(255, 255, 255, 0.7); /* Slightly transparent white background */
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 300px;
    margin-bottom: 2em; /* Space between the forms */
}

.logo {
    text-align: center;
    margin-bottom: 1em;
}

form div {
    margin-bottom: 1em;
    position: relative;
}

form div ion-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

form input {
    width: 100%;
    padding: 0.5em 0.5em 0.5em 2.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input:focus {
    border-color: #007bff;
    outline: none;
}

.show-hide {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

button {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.footer, .footer-register {
    text-align: center;
    margin-top: 1em;
}

.footer span, .footer-register span {
    display: block;
    margin-top: 0.5em;
    color: #007bff;
    cursor: pointer;
}

.footer span:hover, .footer-register span:hover {
    text-decoration: underline;
}
