body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
}

.TopHeader {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    background-color: #ffffff;
    max-height: 50px;
}
h1{
    font-size: 20px;
}
.logo{
    max-width: 70px;
    margin-right: 10px;
}

nav {
    background-color: #000000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    min-height: 400px; /* Adjust based on your needs */
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .social-media a,
footer .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media a:hover,
footer .footer-links a:hover {
    text-decoration: underline;
}
